.main{
    margin-top: 0;
   top: 0;
   width: 100%;
  
}

.box{
    position: absolute;
    margin-top: 160px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.img{
   
    align-self: center;
   height: 225px;
   margin-top: 30px;
 
}
.title{
    text-align: center;
    font-weight: 700;
    font-size: 30px;

}
.rNow{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: -20px;
    
}