.main{
    margin-top: 0;
   top: 0;
   width: 100%;
   height: 100vh;
}

.box{
    position: relative;
    margin-top: 100px;
}

.rNow{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    
}