.main{
    margin-top: 0;
   top: 0;
  overflow-y: visible;
  max-width: 100vw;
  overflow-x: hidden;
}
.box{
    position: absolute;
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.img{
    align-self: center;
   height: 225px;
   width: auto;
   margin-top: 20px;
   margin-bottom: 10px;
}
.title{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
.rNow{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: -20px;
}