.main{
    width: 100%;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.302);
    color: white;
    position: fixed;
    display: flex;
  
   
   
}
.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    justify-self: center;
    
}
.pages{
    display: flex;

}


.search{
   
    
    
}