.main{
    width: 100vw;
    max-width: 100vw;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.302);
    color: white;
    position: absolute;
    display: flex;
  
   
   
}
.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    height: 32px;
    max-width: 100vw;
    
}
.pages{
    display: flex;
   height: 32px;
    width: 70%;
   
    max-width: 560px;
    justify-content: space-evenly;

}

.page{
    margin-top: 0;
 

}

.logo{
    padding-left: min(16px, 1.5%);
    display: flex;
    align-content: center;
    align-items: center;
   
}


.search{
   padding-right: min(16px, 1.5%);
 
    
    
}