.main{

}
.title{
    font-weight: 700;
    font-size: 50px;
    text-align: center;

}
.centerItem{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}