.main{
    
}
.page{
    width: 100%;
    position: absolute;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.title{
    font-size: 33px;
    font-weight: 700;
    width: fit-content;
}
