.main{

}

.specsT{
    background: linear-gradient(93.88deg, #24A3EA -2.95%, #115FDE 102.42%);
    -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
    font-size: 70px;
    font-weight: 700;
}