.main{
  

}
.page{
    position: absolute;
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
}
.specCont{
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 800px;
    max-width: 96%;
   
}

.specsT{
    background: linear-gradient(93.88deg, #24A3EA -2.95%, #115FDE 102.42%);
    -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
    font-size: 80px;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: -40px;
}
.deskT{
    width:800px;
    max-width: 96%;
}
.glance{
    font-size: 27px;
    font-weight: 700;
    margin-top: 100px;
}
.line{
    margin-top: 23px;
    margin-bottom: 23px;
    width: 800px;

    max-width: 96%;

    border: 1px solid #CCCCCC;
}
.container{
    width: 800px;
    max-width: 96%;
   
   
}
.iconCont{
    justify-content: center;
}
