.main{
    top: 0;
    margin-top: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow-x: hidden;
  
    scroll-snap-type: y mandatory;
   
       scrollbar-width: 0;
      
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.tile{
    min-height: 900px;
    height: 100vh;
    
    max-width: 100vw;
  
   
    
    position: relative; 
    background-color: black;
   
}/*scroll-snap-align: center; */
.container{
    height: 100%;
   
   display: flex;
   flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    
    position: relative;
    

}
.centerX{

}
.webHero{
    width: 848px;
    max-width: 96%;

}
.txtRow{
    display: flex;
    white-space: pre-wrap;
    justify-content: center;
  
}

.txt33{
    color: white;
    font-size: xx-large;
    font-weight: 700;
}
.sentence{
    color: white;
    font-size: xx-large;
    font-weight: 700;
    width: 96%;


}
.redInternet{
   color: red;


}


.txt33Red{
    
    font-size: xx-large;
    font-weight: 700;
    background: linear-gradient(91.03deg, #FF4100 79.71%, #F90E00 99.31%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;




}
.txt33400{
    color: white;
    font-size: 30px;
    font-weight: 400;
}
.offsetContainer{
    width: 100%;
    max-width: 740px;
    height: 95px;
    display: flex;
    flex-direction: column;

}
.right0{ margin-top: 13px;
    margin-left: auto;
    
}
.cDesign2{

}
.cDesign{
    position: absolute;
    top: 120px;
height: 50%;




}
.rainbowContainer{
   z-index: 1;
width: 571px;
height: 221px;
left: calc(50% - 571px/2 + 164.5px);
bottom: 0;


}
.rainbowTitle{
    position: relative;
font-weight: 400;
font-size: 42px;
line-height: 54px;
/* identical to box height */ 
color: #EFEFEF;


}
.rainbowTitleB{
  
font-weight: 400;
font-size: 56px;
line-height: 60px;
/* identical to box height */ 
color: #EFEFEF;

}
.rainbow{
  



 

font-weight: 400;
font-size: 45px;
line-height: 57px;
 height: 57px;
 
background: linear-gradient(90.69deg, #FF3C3C -3.79%, #FFF73C 63.7%, #8EFF49 102.42%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;



}
.rainbow2{

font-weight: 400;
font-size: 45px;
line-height: 50px;
 height: 57px;

 background: linear-gradient(91.13deg, #A105BA -8.46%, #D104BF 32.87%, #FF5C44 73.51%, #FF9E45 108.12%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;


}
.rainbowSubTxt{
 
width: 90%;

 margin-top: 4px;
 
font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
 
 
color: #F0F0F0;


}
.frame24{
     
position: absolute;
max-width: 96%;
height: max-content;

top: 0;

}

.proTitile{
   


left: calc(50% - 725px/2 - 6.5px);
top: 0px;
 

font-weight: 400;
font-size: 30px;
line-height: 40px;
/* identical to box height */
 
 
color: #FFFFFF;
}
@media only screen and (max-width: 680px) {
    .proTitile{
       font-size: 23px;
    }
}
.group20{
    position: absolute;

height: 42px;
right: 0;
top: auto;
display: flex;

}
.by{
    color: white;
    margin-right: 12px;
}
.rainbowContainerTL{
  max-width: 560px;
  margin-left: 23%;

margin-right: auto;


}
.rainbowContainerTR{
  position: absolute;
  width: 52%;
   
display: flex;
margin-right: 20px;


    
}
.rightBox{
    
   
    
    padding-left: 12px;
    padding-bottom: 23px;
    border-radius: 3px;

    margin-left: auto;
  
}
.responsiveContainer{
   
    max-height: 100%;
    
   
  
}
.rCont{
    height: 80%;
    width: 96%;

}