@import url('https://fonts.cdnfonts.com/css/work-sans');
html, body{
  height: 100%;
  margin: 0;
  body { -ms-overflow-style: none; }
  body::-webkit-scrollbar { display: none; }
  width: 100vw;
  max-width: 100vw;
}
body {
 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2C2C2E;
  color: #F0F0F0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
