@import url('https://fonts.cdnfonts.com/css/work-sans');

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

html,
body  {
  min-height: min-content;
  height: 100%;
  width: 100vw;
  max-width: 100vw;

  /* No color for scrollbar track and thumb */
  

}
/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100; 
  border-radius: 3px;
 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00000066; 
  border-radius: 3px;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00000099; 
}

body {
  margin: 0;
  font-family: 'Poppins', 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}