.popBackground {
    align-self: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.333);
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popCont {
    position: fixed;

    align-self: center;
    background-color: white;
    z-index: 11 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    padding: 3px;
}

.closeCont {
    width: 100%;
    height: 33px;
    color: #2C2C2E;
}

.closeSocialPop {
    margin-top: 6px;
    margin-left: 90%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pop {
    position: fixed;
    top: 23vh;
    left: 50vw;
    margin-left: -150px;
    width: 300px;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-content: center;
    background-color: white;
    max-width: 100%;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.192);
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.addStudentForm {
    width: 80%;
}

.closeCont {
    width: 100%;
}

.closePop {
    margin-top: 12px;
    margin-left: 86%;
    right: 0;
    cursor: pointer;
}

.title2 {

    font-size: larger;
    font-weight: 500;
    color: #2C2C2E;

}

.backBtn {
    width: 30px !important;
    height: 30px !important;
    cursor: pointer;
    background-color: #F0F0F0;
    color: #2C2C2E;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9px;
    margin-left: 9px;
}

.saveBtn {
    all: unset;
    cursor: pointer;
    background-color: #2C2C2E;
    color: whitesmoke;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 500;
    padding: 6px;

    margin-top: 9px;
    margin-bottom: 9px;
}

.saveBtn:disabled {
    background-color: red;
    cursor: not-allowed;
}

.btnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    
}

.whiteBtn {
    all: unset;
    background-color: #F0F0F0;
    color: #2C2C2E;
    box-shadow: -1px -4px 3px 0px rgba(0, 0, 0, 0.25) inset;
    filter: drop-shadow(3px 6px 3px rgba(0, 0, 0, 0.50));
    height: 33px;
    width: fit-content;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 3px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 800;
    cursor: pointer;
    backdrop-filter: blur(8px);
    transition: ease-out;
    transition-duration: .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin-top: 9px;
    margin-bottom: 9px;
}

.studentCollumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.studentRow {
    display: flex;
    width: 320px;
    justify-content: space-between;
    margin-top: 12px;
    background-color: #F0F0F0;
    color: #2C2C2E;
    justify-content: space-between;
    align-content: center;
    align-content: center;
    justify-items: center;
    height: 44px;
    border-radius: 6px;
}

.txt {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.logoBox {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}